.btn {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: white;
  border: 1px;
  box-shadow: 3px 3px 10px gainsboro;
  margin: 10px;
}
.btn:hover {
  box-shadow: 3px 3px 10px gray;
  transition: all 300ms;
}
.createRoom {
  background-color: blueviolet;
  color: white;
}
.createRoom:hover {
  box-shadow: 3px 3px 10px gray;
  transition: all 300ms;
}
.center {
  margin: auto;
  text-align: center;
}
.border {
  width: 10px;
  height: auto;
  margin: 0 30px 0 30px;
}
.video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
